In [7]:
#1 
integer_number = 10 
float_number  = float(integer_number)

print("Integer number:", integer_number)
print("Float number:", float_number)

Integer number: 10
Float number: 10.0

In [6]:
#2
float_number = 10.5
integer_number = int(float_number)

print("Float number:", float_number)
print("Integer number:", integer_number)

Float number: 10.5
Integer number: 10

In [8]:
#3
integer_number = 10
string_number = str(integer_number)

print("Integer number:", integer_number)
print("String number:", string_number)

Integer number: 10
String number: 10

In [9]:
#4
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)

print("List:", my_list)
print("Tuple:", my_tuple)

List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)

In [10]:
#5
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)

print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (1, 2, 3, 4, 5)
List: [1, 2, 3, 4, 5]

In [11]:
#6
decimal_number = 10
binary_number = bin(decimal_number)

print("Decimal number:", decimal_number)
print("Binary number:", binary_number)

Decimal number: 10
Binary number: 0b1010

In [12]:
#7
non_zero_number = 10
boolean_value = bool(non_zero_number)

print("Non-zero number:", non_zero_number)
print("Boolean value:", boolean_value)

Non-zero number: 10
Boolean value: True